.App {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; */
}
header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.products {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
}

.card img {
  max-width: 200px;
  object-fit: fill;
  max-height: 150px;
  overflow: hidden;
}

.imgs {
  display: flex;
  width: 100%;
  align-items: center;
  height: 50%;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.accordion {
  margin: 30px auto;
  width: 60%;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 30px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.answer {
  padding: 10px;
}

.registration_form {
  margin: 40px auto;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.registration_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration_form form input {
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  min-width: 250px;
}

.registration_form form button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.slider {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 60%;
  height: 400px;
  margin: 0 auto;
}

.slider img {
  width: 90%;
  height: 90%;
  overflow: hidden;
}